 #navbar .logo{
    text-transform: uppercase;
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li{
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
} 

/* Home info */

/* #home-info{
    height: 550px;
} */

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    width: 100%;
    float: none;
}

.box{
    float: none;
    width: 100%;
}

/* About */

#about-info .info-left, #about-info .info-right{
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 20px;
}


.l-heading{
    text-align: center
}

#about-info .info-right img{
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 50%;
  }

  #contact-info .box {
    border-bottom: #444 dotted 1px;
  }

  /* Showcase */
  #showcase {
    height: 100%;
  }
  
  #showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  